DB_URL="jdbc:mysql://localhost:3306/your_db_name"
DB_PASSWORD=your_db_password

INIT_ADMIN_PASSWORD=init_admin_password
INIT_USER1_PASSWORD=init_user1_password
INIT_USER2_PASSWORD=init_user2_password
INIT_USER3_PASSWORD=init_user3_password

SIGNER_KEY=your_signer_key

ACCESS_TOKEN_VALIDITY_IN_SECONDS=1200
REFRESHABLE_DURATION_IN_SECONDS=240000

TOKEN_VALUE=your_token_value
CLOUDFLARE_R2_ACCESS_KEY_ID=your_r2_access_key_id
CLOUDFLARE_R2_SECRET_ACCESS_KEY=your_r2_secret_access_key
CLOUDFLARE_R2_ENDPOINT_URL=your_r2_endpoint_url
CLOUDFLARE_R2_BUCKET_NAME=your_r2_bucket_name
CLOUDFLARE_R2_PUBLIC_URL=your_r2_public_url
